{% extends "layout.html" %}

{% block title %}
Home
{% endblock %}

{% block main %}
<div class="container p-5">
  <form action="/addfriend" method="post">
    <div class="form-group">
      <label for="inputName">Name</label>
      <input autocomplete="off" autofocus class="form-control" name="name" placeholder="Required" type="text"
        id="inputName" />
    </div>
    <div class="form-group">
      <label for="inputEmail">Email</label>
      <input autocomplete="off" autofocus class="form-control" name="email" placeholder="Optional" type="email"
        id="inputEmail" />
    </div>

    <div class="form-group">
      <label for="inputPhone">Phone</label>
      <input autocomplete="off" autofocus class="form-control" name="phone" placeholder="Optional" type="text"
        id="inputPhone" />
    </div>
    <div class="form-group">
      <label for="inputBirthday">Birthday (Optional)</label>
      <input autocomplete="off" autofocus class="form-control" name="birthday" type="date"
        id="inputBirthday" />
    </div>

    <div class="form-group">
      <label for="inputLatitude">Latitude</label>
      <input autocomplete="off" autofocus class="form-control" name="latitude" placeholder="Required" type="text"
        id="inputLatitude" />
    </div>
    <div class="form-group">
      <label for="inputLongitude">Longitude</label>
      <input autocomplete="off" autofocus class="form-control" name="longitude" placeholder="Required" type="text"
        id="inputLongitude" />
    </div>
    <div class="form-group">
      <label for="inputImg">Image URL</label>
      <input autocomplete="off" autofocus class="form-control" name="img" placeholder="Required" type="text"
        id="inputImg" />
    </div>
    <div class="form-group">
      <label for="inputTimezone">Timezone (Required)</label>
      <select class="form-control" id="inputTimezone" name="timezone">
        <option selected>Choose...</option>
        {% for time in timezones %}
        <option value={{ time }}>{{ time }}</option>
        {% endfor %}
      </select>
    </div>
    <button class="btn btn-primary" type="submit">Add Friend</button>
    <br />
    <b style="color: red">{{apology}}</b>
  </form>
</div>
{% endblock %}